.services-container{
    margin-top: 50px;
    background-image: url(../image/services/services.png);
    background-repeat: no-repeat;
    background-position: center;
}
.services-container h3{
    letter-spacing: 5px;
}
.card-padding{
    padding: 30px;
    padding-left: 100px;
}
.card-name{
    border-bottom: 4px solid #1769FF;
    width: 50px;
    margin: 0px auto;
}
.card-detail{
    margin-top: 20px;
}
.service-heading{
    text-align: center;
    color: #007BFF;
}
.card-main{
    width: 18rem;
    border: 1px solid #007BFF;

}
.card-main:hover{
    box-shadow: 5px 5px 25px lightgray;

}
.card-image{
    height: 50px;
    width: 50px;
    margin: 15px auto;
}
